<div class="row">
  <div class="col-md-3">
    <div class="center">
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%= @admin.name%></div>
      <div class="panel-body">
        <%= @admin.position %><br>
        <%= @admin.phone %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="description row-space-3">
      <%= @admin.description %>
    </div>
  </div>
</div>